*{
    box-sizing: border-box;
    margin: 0;
    color: white;
}
*::-webkit-scrollbar{
    -ms-overflow-style: none;
    display: none;
}
html{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}
body{
    background-color: black;
    width: 100%;
    height: 100%;
}
section:nth-child(even){
    background-color: #111015;
}
h1{
    font-size: 5em;
}
p{
    font-size: 2em;
}
input{
    border-radius: 0;
    outline: none;
    width: 20vw;
    height: 15%;
    padding: 5px;
    color: white;
    font-size: 2vw;
    text-align: center;
    border: 1px solid white;
    background-color: #201f25;
    margin-bottom: 10%;
}
textarea{
    outline: none;
    border-radius: 0;
    background-color: #201f25;
    resize: none;
    border: 1px solid white;
    width: 90%;
    font-size: 1vw;
}
/* ---------------------------- INTRO-SECTION ------------------------- */
.intro-section{
    background-color: #16151b;

    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    padding: 15px;
}
nav{
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav-btn{
    min-width: 70px;
    max-width: 100px;
    width: 20%;
    font-size:1em;
    cursor: pointer;
    margin: 1%;
    transition-timing-function: ease-out;
    transition-duration: 0.3s;
}
.nav-btn:hover{
    transform: scale(1.1);
}
.left-nav{
    font-size: 3em;
    padding-left: 5px;
}
.right-nav{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
form{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.send-mail{
    background-color: #100f14;
    width: 30vw;
    height: 30vw;
    padding: 3%;
    margin: 2%;
}
.intro{
    position: relative;
    width: 60%;
    height: 100%;
}
.introduction{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 10% auto;
    padding: 0;
    height: 70%;
}
/* -------------------------------- SPANS ---------------------------- */
.text-part > span{
    line-height: 45px;
}
span.line1{
    position: relative;
    font-size: 2rem;
}
span.line2{
    font-size: 2rem;
}
span.line3{
    font-size: 2rem;
}
span.class{
    color: rgb(178, 51, 178);
    font-weight: bold;
}
span.className{
    color: green;
    font-weight: bold;
}
span.initKeyword{
    color: red;
    font-weight: bold;
}
span.selfWord{
    color: lightblue;
    font-weight: bold;
}
span.string{
    color: lightcoral;
    font-weight: bold;
}
span.indent{
    text-indent: 16px;
}
span.indent2{
    text-indent: 36px;
}
span.array{
    text-indent: 70px;
}
/* ---------------------------- ABOUTME-SECTION ----------------------- */
.aboutme-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    padding: 15px;
}
.aboutMe{
    padding: 5%;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.text-part{
    min-height: 600px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    border: 1px solid white;
    -webkit-box-shadow: 10px 11px 1px 2px #483c83; 
    box-shadow: 10px 11px 1px 2px #483c83;
    margin-right: 5vw;
    /* background-color: #67666b; */
}
.image-part{
    min-width: 400px;
    min-height: 500px;
    width: 200px;
    height: 300px;
    background-color: blue;
    border: 1px solid white;
    -webkit-box-shadow: 10px 11px 1px 2px #483c83; 
    box-shadow: 10px 11px 1px 2px #483c83;
}
/* ---------------------------- EXPERIENCE-SECTION -------------------- */
.experience-section{
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
    padding: 15px;
}
.experiences{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    top: 45%;
    transform: translateY(-50%);
}
.jobs-names{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.jobs-names::-webkit-scrollbar{
    -ms-overflow-style: none;
    display: none;
}
.job{
    width: 137px;
    height: 50px;
    font-size: 1.5vmin;
    border-radius: 0;
    outline: none;
    border: 0 solid black;
    color: white;
    background-color: #201f25;
    overflow-x:scroll ;
}
.job:hover{
    background-color: #601fc5;
    border-right: 4px solid white !important;
}
.job-descriptions{
    position: relative;
    width: 700px;
    height: 300px;
    background-color: #201f25;
}
.job-description{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    animation: load 800ms ease-out;
}
.job-description.hidden{
    display: none;
}
@keyframes load{
    0%{
        transform: translateY(-40%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


/* ---------------------------- PROJECTS-SECTION ---------------------- */
i{
    font-size: 3em;
    margin: 2%;
}
img{
    transform: scale(1.4);
    padding-left: 1%;
    padding-right: 1%;
}
img:hover{
    cursor: pointer;
    transform: scale(1.8);
}
.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1%;

    scroll-snap-align: start;
    position: relative;
    padding: 15px;
}
.filter{
    width: 90%;
    height: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2%;
    margin-top: 5px;
}
.language{
    height: 4vw;
    margin-right: 10px;
    margin-top: 5px;
    transition-duration: 0.5s;
}
.projects{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project{
    position: relative;
    width: 300px;
    margin: 3% 2%;
    min-height: 300px;
    background-color: #16151b;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.dates{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 10px;
    color: black;
}
.arrow{
    font-size: 16px;
    margin: 5px 5px;
    color: black;
}
.dates>.date{
    background-color: #67666b;
    width: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 5px 5px;
    color: black;
}
.project:hover{
    background-color: rgba(255, 255, 255, 0.8);;
}
.project:hover .project-detail{
    visibility: visible;
}
.project-detail{
    visibility: hidden;
    position: absolute;
}
.project-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}
.project-description{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.languages-used{
    text-align: center;
    margin-top: 40px;
    color: black;
}
/* ---------------------------- FOOTER-SECTION ------------------------ */




